<%= simple_form_for(@membership) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :meetup_group_id %>

  <div class="form-inputs">
    <%= f.association :user, collection: @available_users %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', memberships_path, class: 'btn btn-default' %>
  </div>
<% end %>
