<h1>Meetup Groups</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Topic</th>
    <th>Home town</th>
    <th class="hidden-xs">Owner</th>
    <th class="hidden-xs hidden-sm">Incepted at</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @meetup_groups.each do |meetup_group| %>
    <tr>
      <td><%= link_to meetup_group.topic, meetup_group %></td>
      <td><%= meetup_group.home_town %></td>
      <td class="hidden-xs"><%= meetup_group.owner %></td>
      <td class="hidden-xs hidden-sm"><%= meetup_group.incepted_at %></td>
      <td><%= link_to 'Edit', edit_meetup_group_path(meetup_group), class: 'btn btn-default' if can?(:edit, meetup_group) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Found a new meetup group', new_meetup_group_path, class: 'btn btn-primary' %>
