<%=
    link = link_to(@meetup_group.home_town.to_str, "https://www.google.ch/maps/place/#{@meetup_group.home_town.to_str}/")
    page_title("#{@meetup_group.topic.to_str} based in #{link}".html_safe)
%>

<p>This meetup group was founded by
  <strong><%= link_to @meetup_group.owner, @meetup_group.owner %></strong>
  at <%= @meetup_group.incepted_at.to_formatted_s(:long_ordinal) %>, which is
  <%= time_ago_in_words(@meetup_group.incepted_at) %> ago.</p>

<%= link_to('Add Activity',
            new_activity_path(activity: {meetup_group_id: @meetup_group.id}),
            class: 'btn btn-primary') if can?(:edit, @meetup_group) %>
<%= link_to('Add Member',
            new_membership_path(membership: {meetup_group_id: @meetup_group.id}),
            class: 'btn btn-default') if can?(:edit, @meetup_group) %>
<%= link_to('Edit',
            edit_meetup_group_path(@meetup_group),
            class: 'btn btn-default') if can?(:edit, @meetup_group) %>
<%= link_to('Delete',
            @meetup_group, method: :delete, data: {confirm: 'Are you sure?'},
            class: 'btn btn-danger') if can?(:delete, @meetup_group) %>


<h2>Members</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>User</th>
    <th>Member since</th>
    <th></th>
  </tr>
  </thead>
  <%= content_tag_for(:tr, @meetup_group.memberships) do |membership| %>
    <td><%= link_to membership.user, membership.user %></td>
    <td><%= link_to membership.created_at, membership %></td>
    <td><%= link_to 'Delete', meetup_group_path(membership), class: 'btn-sm btn-danger' if can?(:delete, membership) %></td>
  <% end %>
</table>


<h2>Activities</h2>
<%= content_tag_for(:div, @meetup_group.activities) do |activity| %>
  <h3><%= link_to activity.name, activity %></h3>
  <p>
    This activity will start at
    <% activity.start_at %> and will end at <%= activity.ends_at %>.
  </p>
  <p>Location: <strong><%= activity.location %></strong></p>
  <p><%= activity.description %></p>
  <p>
    The status of the activity is
    <% if activity.definite %>
      <span class="label label-success">definite</span>
    <% else %>
      <span class="label label-warning">not definite</span>
    <% end %>
  </p>

  <% unless activity.definite %>
    <p>
      <%= link_to new_vote_path(vote: {activity_id: activity.id}), class: 'btn btn-default btn-lg' do %>
        <span class="glyphicon glyphicon-star"></span> Vote for this activity!
      <% end %>
    </p>
  <% end %>

  <td><%= link_to 'Delete', activity_path(activity), class: 'btn btn-danger' if can?(:delete, activity) %></td>
<% end %>
