<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :meetup_group_id %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :start_at, as: :string, input_html: {class: 'datetimepicker', value: (@activity.start_at || Time.now).to_s(:datetimepicker)} %>
    <%= f.input :duration, hint: 'in minutes' do %>
      <div class="input-group">
        <%= f.input_field :duration, class: 'form-control' %>
        <%= content_tag :span, 'minutes', :class => 'input-group-addon' %>
      </div>
    <% end %>
    <%= f.input :description %>
    <%= f.input :definite %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', (@activity.new_record? ? @activity.meetup_group : @activity), class: 'btn btn-default' %>
  </div>
<% end %>
