<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :start_at, as: :string, input_html: {class: 'datepicker'} %>
    <%= f.input :duration, hint: 'in minutes' do %>
      <div class="input-group">
        <%= f.input_field :duration, class: 'form-control' %>
        <%= content_tag :span, 'minutes', :class => 'input-group-addon' %>
      </div>
    <% end %>
    <%= f.input :description %>
    <%= f.association :meetup_group %>
    <%= f.input :definite %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', (@activity.new_record? ? @activity.meetup_group : @activity), class: 'btn btn-default' %>
  </div>
<% end %>
