<p id="notice"><%= notice %></p>

<p>
  <strong>user:</strong>
  <%= @vote.user %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @vote.activity %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
