<!DOCTYPE html>
<html>
<head>
  <title>EthzWebEngineeringRails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navi' %>


<div class="container">
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>

  <%= yield %>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">&copy Ivo, Andreas, Luke</p>
  </div>
</div>


</body>
</html>
